.logo {
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    gap: .25rem;
    font-family: var(--font-comfortaa);
    line-height: 1;
}

.logo .svg {
    width: 2.2rem;
    height: auto;
    transform: rotate(-90deg);
}

.logo .title {
    display: inline-block;
}

.logo .title span:first-child {
    font-size: 1rem;
}

.logo .title span:last-child {
    font-size: 1.4rem;
}